<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" type="text/css" href="aula1.css" />
  </head>

  <body>
    <div id="app">
      <p>{{Titulo}}</p>
      <input v-model="message" placeholder="Edit Me"/>
      <p>Message is: {{Message}}</p>
      <h3>Lista de Tarefas</h3>
      <input v-model="novatarefa" placeholder="Insira a nova Tarefa">
      <button @click="tarefas.push(novatarefa)">Inserir</button>
      <ul>
        <li v-for="tarefa in tarefas">
          {{Tarefa}}
        </li>
      </ul>

      <form id="main">
        <h3>Lista de Produtos</h3>
        <ul>
          <li
            v-for="produto in produtos"
            v-on:click="colocarativo(produto)"
            v-bind:class="{'active':produto.active}"
          >
            <span v-if="produto.valor!=0" >
              {{Produto.nome}} {{Produto.valor}}
            </span>
          </li>
        </ul>
        <div id="total" class="total">
          Valor Total
          <span>{{Total()}}</span>
        </div>
      </form>
    </div>
  </body>

  <script>
    const app = new Vue({
      el:"#app",
      data:{
        title:"Hello World",
        tarefa:"",
        tarefas:["Ler um Livro"],
        produtos:[
          { nome: "Agua", valor: 1, active: false },
          { nome: "Queijo", valor: 5, active: false },
          { nome: "Cafe", valor: 3, active: false },
          { nome: "Sabao", valor: 0, active: false },
          { nome: "Sumo", valor: 0, active: false },
        ],
      },
      
      methods:{
        colocarativo: function(produto){
          Produto.active = !Produto.active;
        },
        total: function(){
          var Soma = 0;
          this.Produtos.forEach((Element) => {
            
            if (Element.active) {
              Soma = Soma + Element.valor;
            }
          
          });
          return Soma;
        },
      },
    });
  </script>
</html>
